@charset "utf-8";

/* sub common */
.sec-title {font-size:24px;font-weight:500;letter-spacing:-0.5px;color:#000}
.sec-summary {padding-top:5px;font-size:14px;font-weight:500;letter-spacing:-0.5px;}
.noMT {margin-top:0 !important;}
.swiper-pagination-bullet {opacity:1;width:5px;height:5px;background:#999}
.swiper-pagination-bullet-active {opacity:1;background:#f33}

/* insert form group */
.insert-form-group {}
.insert-form-group .input-item + .input-item {margin-top:30px;}
.insert-form-group .ipt-tit {margin-bottom:10px;font-size:14px;font-weight:700;}
.insert-form-group .ipt-cont + .tip-list {margin-top:10px;}
.insert-form-group .ipt-cont .ipt-flex {display:flex;align-items:center;}
.insert-form-group .ipt-cont .ipt-flex .sb {width:30px;height:60px;line-height:60px;text-align:center;background:#fff;position:relative;z-index:10;}
.insert-form-group .ipt-cont .ip-wrap input {height:60px;background:#fff;border:1px solid #E9E9E9;font-size:16px;}
.insert-form-group .ipt-cont .ip-wrap {position:relative;display:block;width:100%;}
.insert-form-group .ipt-cont .ck-wrap label {font-weight:700}
.insert-form-group .ipt-cont .sl-wrap {display:block;width:100%;}
.insert-form-group .ipt-cont .sl-wrap:after {right:10px;top:26px;width:15px;height:10px;background:url("../images/icon/ico-selectbox-b.svg") no-repeat;}
.insert-form-group .ipt-cont .sl-wrap select {height:60px;border:1px solid #E9E9E9;font-size:16px;font-weight:300;cursor:pointer;}
.insert-form-group .ipt-cont .sl-wrap select.no{color:#CCCCCC}
.insert-form-group .ipt-cont .sl-wrap select option {color:black;}
.insert-form-group .bt-form-func1 {min-width:140px;padding:0 15px;height:60px;color:#fff;background:#f33;font-size:16px;font-weight:700;}
.insert-form-group .bt-form-func2 {min-width:140px;padding:0 15px;height:60px;color:#fff;background:#303030;font-size:16px;font-weight:700;}
.insert-form-group .addrGroup + .addrGroup {margin-top:10px;}
.insert-form-group .addrGroup .ip-addr + .ip-addr {margin-top:10px;}
.insert-form-group .ipt-email .ip-wrap {width:70%}
.insert-form-group .ipt-email .ip-wrap input {border-right:0;}
.insert-form-group .ipt-email .sl-wrap {width:30%;}
.insert-form-group .ipt-account .sl-wrap {width:30%}
.insert-form-group .ipt-account .sl-wrap select {border-right:0;}
.insert-form-group .ipt-account .ip-wrap {width:28%}
.insert-form-group .ipt-account .ip-wrap input {border-right:0;}
.insert-form-group .ipt-account .ip-wrap:last-child {width:42%;}
.insert-form-group .ipt-account .ip-wrap:last-child input {border-right:1px solid #E9E9E9}
/*calendar*/
#ui-datepicker-div {min-width:320px;padding:10px 20px 20px 20px;margin-top:1px;box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.1);border:0;}
.ui-datepicker-title {width:100px;margin:0 auto !important;font-size:15px;}
.ui-datepicker-month:after {content:"월"}
.ui-datepicker-year {float:left;}
.ui-datepicker-year:after {content:"년"}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {top:0 !important}
.type-date {display:flex;justify-content:space-between;align-items:center;}
.type-date .ip-wrap {position:relative;}
.type-date .ip-wrap input {width:100%;}
.type-date .sb {display:inline-block;width:8%;text-align:center;vertical-align:middle;}
.type-date img {cursor:pointer;width:25px;}
.type-date .ui-datepicker-trigger {position:absolute;right:5px;top:3px;}
.ui-datepicker td span, .ui-datepicker td a {font-size:15px !important;border:0 !important;width:30px;height:30px;line-height:30px;background:none !important;text-align:center !important;padding:0 !important;}
.ui-widget-header {margin-bottom:5px;border:0 !important;background:none !important}
.ui-datepicker th {color:#808080 !important;font-size:14px !important}
.ui-datepicker th span {color:#808080 !important;font-size:14px !important;font-weight:normal !important}
.ui-datepicker .ui-state-default {color:#303030}
.ui-datepicker .ui-state-active {background:#f33 !important;color:#fff !important;border-radius:50%;}
.dateBox .ui-datepicker-trigger {position: absolute;right:20px;top:20px;}

/* elements */
.inner-gray-box {margin-top:30px;padding:18px 20px;background:#F3F3F3;}
.inner-gray-box .box-title {margin-bottom:20px;font-size:14px;font-weight:700;}
.inner-gray-box .ck-wrap {min-width:200px;margin:0;}
.inner-gray-box .ck-wrap label {font-weight:700}
.link-box {display:flex;}
.link-box .link-round-bt {min-width:100px;padding:0 10px;background:#fff;height:30px;line-height:28px;text-align:center;border-radius:5px;border:1px solid #E9E9E9;font-size:11px;font-weight:700}
.link-box .link-round-bt + .link-round-bt {margin-left:11px;}
.emp-text {font-size:20px;font-weight:700;color:#f33}
/* button */
.btn-group {display:flex;justify-content:center;}
.btn-group button,
.btn-group a {margin:0 5px;}
/*.bt-common-type1 {display:inline-block;min-width:170px;height:50px;line-height:50px;font-size:18px;background:#f33;color:#fff;text-align:center;font-weight:700;border-radius:5px;}*/
.bt-common-type2 {display:inline-block;min-width:170px;height:50px;line-height:50px;font-size:18px;background:#303030;color:#fff;text-align:center;font-weight:700;border-radius:5px;}

/* bullet list */
.tip-list {margin-top:20px;}
.tip-list li {font-size:12px;color:#666;line-height:1.3;}
.tip-list li em {font-weight:700;color:#303030;}
.tip-list li + li {margin-top:7px;}
.tip-list li a {font-size:12px;text-decoration:underline;}
.tip-list .bul {position:relative;padding-left:8px;letter-spacing:-0.5px;}
.tip-list .bul:before {content:"";position:absolute;top:6px;left:0;display:inline-block;width:3px;height:3px;border-radius:50%;background:#666;}
.desc-list {margin-top:20px;}
.desc-list dt {font-size:14px;color:#303030;font-weight:700}
.desc-list dd {font-size:12px;color:#666;line-height:1.3;margin-top:7px;}
.desc-list .bul {position:relative;padding-left:8px;}
.desc-list .bul:before {content:"";position:absolute;top:6px;left:0;display:inline-block;width:3px;height:3px;border-radius:50%;background:#666;}
/* agreement term box */
.agree-content .agr-check-total {padding:30px 0;}
.agree-content .agr-check-total .ck-wrap label {font-weight:700;}
.agree-content .agr-group + .agr-group {margin-top:30px;}
.agree-content .agr-group .agr-term {min-height:180px;padding:30px;background:#F3F3F3;font-size:12px;font-weight:900;}
.agree-content .agr-group .agr-term .term-title {margin-bottom:20px;font-size:18px;font-weight:700}
.agree-content .agr-group .agr-term .custom-scroller-common {max-height:120px;}
.agree-content .agr-group .agr-check {margin-top:10px;}
.agree-content .agr-group .agr-check .ck-wrap label {font-weight:700;}
.agree-content .agr-group .agr-check .ck-wrap a {color:#999;text-decoration:underline;margin-left:10px;font-weight:700}

/* elements */
.inner-gray-box {margin-top:30px;padding:18px 20px;background:#F3F3F3;}
.inner-gray-box .box-title {margin-bottom:20px;font-size:14px;font-weight:700;}
.inner-gray-box .ck-wrap {min-width:200px;margin:0;}
.inner-gray-box .ck-wrap label {font-weight:700}
.link-box {display:flex;}
.link-box .link-round-bt {min-width:100px;padding:0 10px;background:#fff;height:30px;line-height:28px;text-align:center;border-radius:5px;border:1px solid #E9E9E9;font-size:11px;font-weight:700}
.link-box .link-round-bt + .link-round-bt {margin-left:11px;}
.emp-text {font-size:20px;font-weight:700;color:#f33}
/* button */
.btn-group {display:flex;justify-content:center;}
.btn-group button,
.btn-group a {margin:0 5px;}
/*.bt-common-type1 {display:inline-block;min-width:170px;height:50px;line-height:50px;font-size:18px;background:#f33;color:#fff;text-align:center;font-weight:700;border-radius:5px;}*/
.bt-common-type2 {display:inline-block;min-width:170px;height:50px;line-height:50px;font-size:18px;background:#303030;color:#fff;text-align:center;font-weight:700;border-radius:5px;}
/* bullet list */
.tip-list {margin-top:20px;}
.tip-list li {font-size:12px;color:#666;line-height:1.3;}
.tip-list li em {font-weight:700;color:#303030;}
.tip-list li + li {margin-top:7px;}
.tip-list li a {font-size:12px;text-decoration:underline;}
.tip-list .bul {position:relative;padding-left:8px;letter-spacing:-0.5px;}
.tip-list .bul:before {content:"";position:absolute;top:6px;left:0;display:inline-block;width:3px;height:3px;border-radius:50%;background:#666;}
.desc-list {margin-top:20px;}
.desc-list dt {font-size:14px;color:#303030;font-weight:700}
.desc-list dd {font-size:12px;color:#666;line-height:1.3;margin-top:7px;}
.desc-list .bul {position:relative;padding-left:8px;}
.desc-list .bul:before {content:"";position:absolute;top:6px;left:0;display:inline-block;width:3px;height:3px;border-radius:50%;background:#666;}
/* agreement term box */
.agree-content .agr-check-total {padding:30px 0;}
.agree-content .agr-check-total .ck-wrap label {font-weight:700;}
.agree-content .agr-group + .agr-group {margin-top:30px;}
.agree-content .agr-group .agr-term {min-height:180px;padding:30px;background:#F3F3F3;font-size:12px;font-weight:900;}
.agree-content .agr-group .agr-term .custom-scroller-common {max-height:120px;}
.agree-content .agr-group .agr-check {margin-top:10px;}
.agree-content .agr-group .agr-check .ck-wrap label {font-weight:700;}
.agree-content .agr-group .agr-check .ck-wrap a {color:#999;text-decoration:underline;margin-left:10px;font-weight:700}


/* car insert */
.btn-car-insert-func {position:absolute;right:10px;top:45px;}
.btn-car-insert-func button {padding:22px 10px 0 10px;font-size:12px;color:#000;font-weight:500}
.btn-car-insert-func .bt-open-all {background:url("../images/carinsert/ico-open-all.png") no-repeat 50% 0;background-size:20px;}
.btn-car-insert-func .bt-close-all {background:url("../images/carinsert/ico-close-all.png") no-repeat 50% 0;background-size:20px;}
.btn-car-insert-func .bt-save {background:url("../images/carinsert/ico-save.png") no-repeat 50% 0;background-size:22px;}

.car-insert-container {position:relative;width:1240px;margin:0 auto;}
.car-insert-container .page-title-group {margin-bottom:30px;}
.car-insert-container .sec-title {padding-left:100px;}
.car-insert-container .sec-insert-step {position:relative;max-height:125px;overflow:hidden;padding:40px 0;border-top:1px solid #E9E9E9;transition:max-height .5s;}
.car-insert-container .sec-insert-step .bt-step-toggle {position:absolute;right:0;top:20px;left:0;height:80px;background:url("../images/carinsert/ico-toggle-arr-bot.svg") no-repeat 100% 50%;z-index:10}
.car-insert-container .sec-insert-step.open .bt-step-toggle {background:url("../images/carinsert/ico-toggle-arr-top.svg") no-repeat 100% 50%;}
.car-insert-container .sec-insert-step .step-badge {position:absolute;top:47px;left:0;display:inline-block;text-align:center;font-weight:700;width:70px;height:20px;line-height:20px;border-radius:5px;font-size:12px;background:#999;color:#fff;}
.car-insert-container .sec-insert-step.open.done .step-badge {background:#f33;color:#fff;}
.car-insert-container .sec-insert-step.done .step-badge {background:#303030;color:#fff;}
.car-insert-container .sec-summary {opacity:0;}
.car-insert-container .step-content {margin-top:50px;}
.car-insert-container .sec-insert-step.open {max-height:3500px;}
.car-insert-container .sec-insert-step.open .sec-summary {opacity:1;}
.car-insert-container .sec-insert-step.open .step-content {margin-top:60px;}
.car-insert-container .step-content.bg {padding:30px;background:#F3F3F3;}
.car-insert-container .step-btn {margin-top:60px;}
.car-insert-container .step-value {position:absolute;left:333px;top:40px;}
.car-insert-container .step-value .val {font-size:24px;font-weight:300;color:#999;letter-spacing:-0.5px}
.car-insert-container .step-value .sub-val {margin-top:3px;font-size:12px;color:#666}
.car-insert-container .step-value .sub-val span {position:relative;font-size:12px;color:#666;font-weight:700}
.car-insert-container .step-value .sub-val span + span {padding-left:20px;}
.car-insert-container .step-value .sub-val span + span:before {content:"";position:absolute;top:5px;left:9px;display:inline-block;width:1px;height:10px;background:#E9E9E9;}

/*step1*/
.carnum-insert-from {width:575px;padding:0 0 60px 0;margin:0 auto;display:flex;}
.carnum-insert-from .ip-carnum {width:435px;height:60px;padding:0 23px;border:1px solid #E9E9E9;background:#fff;font-size:16px;font-weight:700}
.carnum-insert-from .bt-submit-num {width:140px;height:60px;background:#f33;color:#fff;font-size:16px;font-weight:700;}

/*step2*/
.car-insert-form {width:595px;}
.car-insert-form .insert-item {display:flex;justify-content:space-between;width:100%;}
.car-insert-form .insert-item .inner {position:relative;width:100%;border:1px solid #E9E9E9;background:#fff;height:60px;padding-left:120px;}
.car-insert-form .insert-item .inner.done {background:#F3F3F3;}
.car-insert-form .insert-item .inner.done .sl-wrap select {color:#303030;}
.car-insert-form .insert-item .inner.done .ip-wrap input {color:#303030;}
.car-insert-form .insert-item .inner.half {width:49%;}
.car-insert-form .insert-item .inner .unit {position:absolute;right:20px;top:17px;font-size:16px;}
.car-insert-form .insert-item + .insert-item {margin-top:10px;}
.car-insert-form .item-tit {position:absolute;top:18px;left:23px;font-size:16px;color:#999;font-weight:500;}
.car-insert-form .sl-wrap {display:block;}
.car-insert-form .ip-wrap {display:block;}
.car-insert-form .ip-wrap input {width:100%;height:58px;padding-right:55px;text-align:right;background:transparent;font-size:16px;font-weight:500;color:#303030;border:0;}
.car-insert-form .ip-wrap input.red {color:#f33;font-weight:700}
.car-insert-form .sl-wrap select {width:100%;height:58px;background:transparent;font-size:16px;font-weight:500;color:#666;border:0;}
.car-insert-form .sl-wrap:after {width:15px;height:10px;right:20px;top:25px;background:url("../images/carinsert/ico-selectbox.svg") no-repeat;}
.color-insert {position:absolute;right:0;top:136px;width:595px;padding:0 20px 20px 122px;border:1px solid #E9E9E9;}
.color-insert .item-tit {position:absolute;top:18px;left:23px;font-size:16px;color:#999;font-weight:500;}
.select-type-color:after {content:"";display:block;clear:both;}
.select-type-color > li{float:left;width:45px;margin-right:14px;padding-top:15px}
.select-type-color .bt-item {position:relative;}
.select-type-color .bt-item.selected:after {content:"";position:absolute;top:0;left:0;display:block;width:100%;height:45px;background:url('../images/icon/ico-color-check.svg') no-repeat 50% 45%;}
.select-type-color .bt-item var {display:block;width:45px;height:45px;margin:0 auto;border-radius:50%;border:1px solid #F3F3F3;background-position:50% 50%;background-size:100%;background-repeat:no-repeat;}
.select-type-color .bt-item span {display:block;text-align:center;font-size:12px;color:#666;}

/*step3*/
.option-group {display:flex;width:1240px;}
.option-group dl {width:25%;}
.option-group dt {margin-bottom:25px;font-size:16px;color:#f33;font-weight:700}
.option-group dd + dd {margin-top:10px;}

/*step4*/
.car-photo-upload {width:1240px;display:flex;background:#F3F3F3;}
.car-photo-upload .photo-edit {position:relative;width:800px;height:665px;background:url("../images/carinsert/bg-car-image-upload.jpg") no-repeat;background-size:100%;}
.car-photo-upload .photo-edit .bt-image-editor {position:absolute;top:0;left:0;right:0;bottom:0;text-align:center;}
.car-photo-upload .photo-edit .bt-image-editor.done .msg {opacity:0;}
.car-photo-upload .photo-edit .bt-image-editor .msg {display:block;padding-top:90px;background:url("../images/carinsert/ico-car-image-upload.png") no-repeat 48% 0%;background-size:80px;font-size:24px;color:#303030;font-weight:700;letter-spacing:-0.5px;}
.car-photo-upload .photo-edit .bt-image-editor .msg small {display:block;padding-top:15px;text-align:center;font-size:16px;color:#666;font-weight:500}
.car-photo-upload .photo-edit .photos {display:flex;flex-wrap:wrap;}
.car-photo-upload .photo-edit .photos img {display:block;width:200px;height:133px;}
.car-photo-upload .desc-edit {width:440px;padding:10px;}
.car-photo-upload .edit-area {background:#fff;}
.car-photo-upload .edit-area textarea {border-radius:none;height:645px;background:#fff;border:0 !important;border-radius:0 !important;font-size:14px;font-weight:500}
.step-value .pic {display:flex;}
.step-value .pic img {display:block;width:111px;height:74px;}
.step-value .pic span {padding-left:14px;font-size:40px;color:#303030}
.step-value .desc {position:absolute;width:400px;left:400px;top:4px;color:#303030;font-size:14px;}
.step-value .desc p {overflow:hidden;max-height:100px;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;letter-spacing:-0.5px;font-weight:500;}
.sec-carphoto .step-value {top:25px;}

/*step5*/
.check-type-performance ul {display:flex;justify-content:space-between;}
.check-type-performance ul li {position:relative;width:400px;height:260px;border:2px solid #E9E9E9;border-radius:10px;}
.check-type-performance ul li.on {background:url("../images/carinsert/bg-orange-linear.png") no-repeat;background-size:100%}
.check-type-performance ul li:hover {background:url("../images/carinsert/bg-orange-linear.png") no-repeat;background-size:100%}
.check-type-performance ul li .func {display:block;position:absolute;top:0;left:0;right:0;bottom:0;border-radius:10px;}
.check-type-performance ul li .text {padding-top:65px;z-index:10;text-align:center;}
.check-type-performance ul li .text h4 {font-size:28px;line-height:28px;font-weight:700;text-align:center;}
.check-type-performance ul li .text p {padding-top:25px;font-size:14px;text-align:center;font-weight:500}
.check-type-performance ul li .text var {display:block;max-width:300px;margin:0 auto;padding-top:25px;word-break:break-all;14px;text-decoration:underline;font-weight:500;}
.check-type-performance ul li.on .text h4:after {content:"/수정"}
.check-type-performance ul li.on .text h4,
.check-type-performance ul li.on .text var,
.check-type-performance ul li.on .text p {color:#fff}
.check-type-performance ul li:hover .text h4,
.check-type-performance ul li:hover .text var,
.check-type-performance ul li:hover .text p {color:#fff}
.check-type-performance .ck-group {justify-content:center;padding-top:40px;}
.check-type-performance .ck-group label {color:#999;font-weight:700;font-size:14px;}

.pop-perform-url .perform-url .ip-wrap {display:block;width:350px;margin:0 auto;}
.pop-perform-url .perform-url .ip-wrap input {border:1px solid #E9E9E9;background:#fff;height:60px;}

.pop-perform-img {width:866px;}
.pop-perform-img .perform-img {position:relative;display:flex;justify-content:space-between;padding-bottom:40px;border-top:1px solid #EFEFEF;border-bottom:1px solid #EFEFEF}
.pop-perform-img .perform-img:before {content:"";position:absolute;top:0;bottom:0;left:50%;display:block;width:1px;background:#efefef;}
.pop-perform-img .perform-img .insert-form-group {width:350px;}
.pop-perform-img .perform-img .insert-form-group .bt-form-func2 {min-width:110px;}

/* step result */
.car-insert-result {text-align:center;font-size:30px}
.car-insert-result small {font-size:16px;color:#666;}



/* car check */
.pop-car-check {width:1192px;}
.pop-car-check {width:1180px;}
.pop-car-check .bt-save-temp {position:absolute;right:30px;top:40px;padding:22px 10px 0 10px;font-size:12px;color:#000;font-weight:500;background:url('../images/carinsert/ico-save.png') no-repeat 50% 0;background-size:22px;}
.pop-car-check .bt-close-text {position:absolute;right:100px;top:40px;padding:22px 10px 0 10px;font-size:12px;color:#000;font-weight:500;background:url('../images/carinsert/ico-close-text.png') no-repeat 50% 0;background-size:20.5px;}
.perform-tab {display:flex;justify-content:space-between;margin-top:35px;margin-bottom:40px;}
.perform-tab .bt-tab {position:relative;width:19.7%;height:40px;font-size:14px;color:#4F566B;font-weight:700;text-align:left;letter-spacing:0px;}
.perform-tab .bt-tab:before {content:"";display:inline-block;width:16px;height:16px;margin:-2px 5px 0 0;border-radius:50%;border:2px solid #8792A2;vertical-align:middle;box-sizing:border-box;}
.perform-tab .bt-tab.done {color:#666;}
.perform-tab .bt-tab.done:before {content:"";border:5px solid #666;}
.perform-tab .bt-tab.ing {color:#f33;}
.perform-tab .bt-tab.ing:before {content:"";background:url("../images/icon/ico-check-round-red.svg") no-repeat;border:0;}
.perform-tab .bt-tab:after {content:"";position:absolute;left:0;top:0;right:0;border-radius:3px;background:#D6D6D6;height:4px;}
.perform-tab .bt-tab.done:after {background:#666;}
.perform-tab .bt-tab.ing:after {background:#f33}

.car-check-area {position:relative;width:100%;padding:0 0 35px 0;}
.car-check-area .check-guide {position:absolute;bottom:7px;left:0;font-size:12px;color:#f33;text-align:right;font-weight:700}
input[type=checkbox] + label .icon_check {position:absolute;left:0;top:0;width:20px;height:20px;z-index:10;background:#fff;color:#1e75ec;text-align:center;font-weight:bold;font-size:14px;}

#carCheckPopup .modal-body {padding:32px;}
#carCheckPopup .car-check-container {margin-top:30px;overflow-y:auto;}
/* tab */
#carCheckPopup .car-check-tab {display:flex;}
#carCheckPopup .car-check-tab .bt-tab {position:relative;margin-right:32px;padding-bottom:8px;font-size:18px;color:#999;font-weight:700}
#carCheckPopup .car-check-tab .bt-tab.on {color:#303030;}
#carCheckPopup .car-check-tab .bt-tab.on:after {content:"";position:absolute;left:0;right:0;bottom:0;display:block;height:2px;background:#f33;}
/* content */
#carCheckPopup .pop_inner {padding:40px 43px;}
#carCheckPopup .car-check-group h3 {margin-bottom:7px;font-size:16px;color:#000;font-weight:700;}
#carCheckPopup .car-check-group h3 span {font-weight:300}
#carCheckPopup .dateBox .ui-datepicker-trigger {position: absolute;right:10px;top:7px;}
#carCheckPopup .car-check-group .tb.half {width:392px;}
#carCheckPopup .car-check-group .tb.full {width:100%;}
#carCheckPopup .car-check-group .tb.full + .tb.full {margin-top:35px;}
#carCheckPopup .car-check-group .tb h4 {padding-bottom:5px;font-size:16px;color:#000;font-weight:700}
#carCheckPopup .car-check-group .tb table {border-top:1px solid #000}
#carCheckPopup .car-check-group .tb table th {height:50px;line-height:1.4;color:#000;border-left:1px solid #E9E9E9;border-right:1px solid #E9E9E9;background:#F9F9F9;font-weight:400;border-bottom:1px solid #E9E9E9;text-align:center;}
#carCheckPopup .car-check-group .tb table td {height:50px;line-height:1.4;color:#000;border-left:1px solid #E9E9E9;padding:10px 8px;border-bottom:1px solid #E9E9E9}
#carCheckPopup .car-check-group .tb table thead th {font-weight:500;}
#carCheckPopup .car-check-group .tb table thead th:last-child {border-right:0;}
#carCheckPopup .car-check-group .tb table tr th:first-child {border-left:0;}
#carCheckPopup .car-check-group .tb table tr td:first-child {border-left:0;}
#carCheckPopup .car-check-group .tb .multi-box {display:flex;justify-content:space-between;}
#carCheckPopup .car-check-group .tb .multi-box .ip-wrap,
#carCheckPopup .car-check-group .tb .multi-box .sl-wrap {width:47.5%}
#carCheckPopup .car-check-group .tb .dim {color:#ddd}
#carCheckPopup .car-check-group .tb .ip-wrap,
#carCheckPopup .car-check-group .tb .sl-wrap {position:relative;width:100%;max-width:217px;display:inline-flex;justify-content:space-between;align-items:center;}
#carCheckPopup .car-check-group .tb .wf {max-width:100%;}
#carCheckPopup .car-check-group .tb .w2 {max-width:160px;}
#carCheckPopup .car-check-group .tb .txt-wrap {position:relative;display:block;width:100%;display:flex;justify-content:space-between;align-items:center;}
#carCheckPopup .car-check-group .tb .ip-wrap input,
#carCheckPopup .car-check-group .tb .sl-wrap select {border:1px solid #DDD;font-size:12px;font-weight:700;border-radius:0;}
#carCheckPopup .car-check-group .tb .sl-wrap select {padding: 0 25px 0 9px !important;}
#carCheckPopup .car-check-group .tb .mr10 {margin-right:10px;}
#carCheckPopup .car-check-group .tb .mr15 {margin-right:15px;}
#carCheckPopup .car-check-group .tb .mr20 {margin-right:20px;}
#carCheckPopup .car-check-group .tb .txt-wrap textarea {padding:10px;border:1px solid #DDD;font-size:12px;font-weight:700;border-radius:0;resize:none;}
#carCheckPopup .car-check-group .tb .al-r {text-align:right;}
#carCheckPopup .car-check-group .tb .ip-wrap .unit {padding-left:8px;white-space:nowrap;}
#carCheckPopup .car-check-group .tb .ck-wrap + .ck-wrap {margin-left:10px;}
#carCheckPopup .car-check-group .tb .ck-wrap label {font-size:12px;line-height:22px;}
#carCheckPopup .car-check-group .tb .ck-wrap.rvt label {padding-left:0;padding-right:26px}
#carCheckPopup .car-check-group .tb .ck-wrap.rvt label:after {left:auto;right:0;}
#carCheckPopup .car-check-group .tb .t {padding-right:15px;font-size:12px;}
#carCheckPopup .car-check-group .tb .t.ml {margin-left:15px;padding-right:5px;}
#carCheckPopup .car-check-group .tb .t.b {font-weight:700;}
#carCheckPopup .car-check-group .tb .sb {padding:0 5px;}
#carCheckPopup .car-check-group .tb :disabled {border:0 !important;opacity:0.7;color:#ddd}
#carCheckPopup .car-check-group .tb :disabled + small {opacity:0.3;}
#carCheckPopup .car-check-group .tb .bt-func {height:30px;margin-left:10px;padding:0 8px;font-size:12px;font-weight:700;background:#fff;white-space:nowrap;border:1px solid #ddd}
#carCheckPopup .car-check-group .tb .bt-func2 {display:block;margin:4px auto;height:28px;border-radius:3px;padding:0 8px;font-size:12px;font-weight:700;background:#fff;white-space:nowrap;border:1px solid #ddd}
#carCheckPopup .photo-upload ul {width:100%;overflow:hidden;}
#carCheckPopup .photo-upload .selector {position:relative;width:544px;height:408px;background:#F9F9F9}
#carCheckPopup .photo-upload .selector img {display:block;width:100%;height:100%;}
#carCheckPopup .photo-upload .selector .bt-photo-upload {position:absolute;top:0;left:0;width:100%;height:100%;background-position:50% 50%;background-repeat:no-repeat;}
#carCheckPopup .photo-upload .selector:nth-child(1) {float:left;}
#carCheckPopup .photo-upload .selector .bt-photo-upload.type-bb {background-image:url("../images/checkcar/ico-photo-upload3.png");background-size:55px;}
#carCheckPopup .photo-upload .selector:nth-child(2) {float:right;}
#carCheckPopup .photo-upload .selector .bt-photo-upload.type-fs {background-image:url("../images/checkcar/ico-photo-upload2.png");background-size:88.5px;}
#carCheckPopup .photo-upload .selector .bt-photo-upload.type-ff {background-image:url("../images/checkcar/ico-photo-upload1.png");background-size:88.5px;}
#carCheckPopup .car-photo-tip {margin-top:30px;}
#carCheckPopup .car-photo-tip dt {padding-bottom:15px;font-size:16px;font-weight:700;color:#000;}
#carCheckPopup .car-photo-tip dd {position:relative;padding-left:10px;font-size:14px;color:#000}
#carCheckPopup .car-photo-tip dd + dd {margin-top:10px;}
#carCheckPopup .car-photo-tip dd:before {content:"";position:absolute;left:0;top:7px;display:block;width:3px;height:3px;background:#000;border-radius:50%;}
#carCheckPopup .car-photo-tip dd em {color:#f33}
#carCheckPopup .car-photo-tip {margin-top:30px;}
#carCheckPopup .car-photo-tip li {position:relative;padding-left:10px;font-size:14px;color:#000}
#carCheckPopup .car-photo-tip li + li {margin-top:10px;}
#carCheckPopup .car-photo-tip li:before {content:"";position:absolute;left:0;top:7px;display:block;width:3px;height:3px;background:#000;border-radius:50%;}
#carCheckPopup .car-photo-tip li em {color:#f33}v
/* car check */
#carCheckPopup .car-check-area {position:relative;width:100%;padding:0 0 35px 0;}
#carCheckPopup .car-check-area .check-guide {position:absolute;bottom:7px;left:0;font-size:12px;color:#f33;text-align:right;}
#carCheckPopup input[type=checkbox] + label .icon_check {position:absolute;right:0;left:auto;top:0;width:20px;height:20px;z-index:10;background:transparent;color:#f33;text-align:center;font-weight:bold;font-size:14px;}
#carCheckPopup .flag {height:20px;}
/* =========================================================================================================
	성능점검상태
========================================================================================================= */
/* 성능점검상태 */
#carCheckPopup .check-car								{position:relative;z-index:10;margin:0 auto;padding:0;margin-top:26px;margin-bottom:8px;width:730px;height:440px;background:url('../images/checkcar/check_bg_car.png') no-repeat;/*transform:scale(0.65);transform-origin:0 0;margin:0 -300px -110px 0;*/}
#carCheckPopup .check-car .check_link_bg				{position:absolute;top:0;left:0;z-index:200;width:100%;height:100%;}
#carCheckPopup .check-car .condition-mark				{position:relative;width:100%;height:100%;}
#carCheckPopup .check-car .condition-mark > p		{display:none;position:absolute;top:0;left:0;z-index:50;text-indent:-9999px;width:100%;height:100%;}
#carCheckPopup .check-car .i-mark						{z-index:300;display:inline-block;margin:0 !important;padding:0;width:20px; height:20px;font-size:12px;font-weight:bold;color:#fff;line-height:22px;text-align:center;overflow:hidden;border-radius:10px;-webkit-border-radius:10px; -moz-border-radius:10px;-o-border-radius:10px;}
#carCheckPopup .mark-name									{margin:0 auto;padding:30px 0;width:775px;height:auto;}
#carCheckPopup .mark-name:after							{content:"";display:block;float:none;clear:both;}
#carCheckPopup .mark-name > li							{position:relative;display:table;float:left;margin:0 20px 30px;padding:0;width:110px;height:auto;text-align:left;}
#carCheckPopup .mark-name > li > h3						{display:table-cell;vertical-align:middle;margin:0;padding:0;width:100%;height:30px;font-size:12px;font-weight:normal;color:#666;}
#carCheckPopup .mark-name > li > span					{position:absolute;top:0;right:0;z-index:100;display:block;margin:0 !important;padding:0;width:30px;height:30px;font-size:13px;font-weight:bold;color:#fff;line-height:30px;text-align:center;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;}
#carCheckPopup .bg-red										{background-color:#374367;}
#carCheckPopup .bg-red input[type=checkbox]:checked {background:url('../images/icon_checkbox_red.png') no-repeat #fff;background-size:33px 33px;}
#carCheckPopup .bg-blue										{background-color:#1e9cff;}
#carCheckPopup .bg-black									{background-color:#151515;cursor:pointer;}
#carCheckPopup .check-car .flag {height:20px;}

/* 좌측 */
#carCheckPopup .check_FL_foglamp							{background:url('../images/checkcar/check_FL_foglamp.png') no-repeat;}
#carCheckPopup .check_FL_wheel							{background:url('../images/checkcar/check_FL_wheel.png') no-repeat;}
#carCheckPopup .check_RL_wheel							{background:url('../images/checkcar/check_RL_wheel.png') no-repeat;}
#carCheckPopup .check_L_side								{background:url('../images/checkcar/check_L_side.png') no-repeat;}
#carCheckPopup .check_L_fender							{background:url('../images/checkcar/check_L_fender.png') no-repeat;}
#carCheckPopup .check_FL_door								{background:url('../images/checkcar/check_FL_door.png') no-repeat;}
#carCheckPopup .check_RL_door								{background:url('../images/checkcar/check_RL_door.png') no-repeat;}
#carCheckPopup .check_L_quarterpanel					{background:url('../images/checkcar/check_L_quarterpanel.png') no-repeat;}
#carCheckPopup .check_RL_foglamp							{background:url('../images/checkcar/check_RL_foglamp.png') no-repeat;}
#carCheckPopup .check_LA_filler							{background:url('../images/checkcar/check_LA_filler.png') no-repeat;}
#carCheckPopup .check_LB_filler							{background:url('../images/checkcar/check_LB_filler.png') no-repeat;}
#carCheckPopup .check_LC_filler							{background:url('../images/checkcar/check_LC_filler.png') no-repeat;}
#carCheckPopup .check_FL_window							{background:url('../images/checkcar/check_FL_window.png') no-repeat;}
#carCheckPopup .check_RL_window							{background:url('../images/checkcar/check_RL_window.png') no-repeat;}

/* 상단 */
#carCheckPopup .check_F_bumper							{background:url('../images/checkcar/check_F_bumper.png') no-repeat;}
#carCheckPopup .check_grill								{background:url('../images/checkcar/check_grill.png') no-repeat;}
#carCheckPopup .check_L_lamp								{background:url('../images/checkcar/check_L_lamp.png') no-repeat;}
#carCheckPopup .check_R_lamp								{background:url('../images/checkcar/check_R_lamp.png') no-repeat;}
#carCheckPopup .check_bonnet								{background:url('../images/checkcar/check_bonnet.png') no-repeat;}
#carCheckPopup .check_F_window							{background:url('../images/checkcar/check_F_window.png') no-repeat;}
#carCheckPopup .check_R_window							{background:url('../images/checkcar/check_R_window.png') no-repeat;}
#carCheckPopup .check_roof									{background:url('../images/checkcar/check_roof.png') no-repeat;}
#carCheckPopup .check_L_mirror							{background:url('../images/checkcar/check_L_mirror.png') no-repeat;}
#carCheckPopup .check_R_mirror							{background:url('../images/checkcar/check_R_mirror.png') no-repeat;}
#carCheckPopup .check_trunk								{background:url('../images/checkcar/check_trunk.png') no-repeat;}
#carCheckPopup .check_L_taillight						{background:url('../images/checkcar/check_L_taillight.png') no-repeat;}
#carCheckPopup .check_R_taillight						{background:url('../images/checkcar/check_R_taillight.png') no-repeat;}
#carCheckPopup .check_R_bumper							{background:url('../images/checkcar/check_R_bumper.png') no-repeat;}

/* 하체 */
#carCheckPopup .check_radiator								{background:url('../images/checkcar/check_radiator.png') no-repeat;}
#carCheckPopup .check_F_panel								{background:url('../images/checkcar/check_F_panel.png') no-repeat;}
#carCheckPopup .check_FL_insidepanel					{background:url('../images/checkcar/check_FL_insidepanel.png') no-repeat;}
#carCheckPopup .check_FL_sidemember						{background:url('../images/checkcar/check_FL_sidemember.png') no-repeat;}
#carCheckPopup .check_FL_wheelhouse						{background:url('../images/checkcar/check_FL_wheelhouse.png') no-repeat;}
#carCheckPopup .check_FR_insidepanel					{background:url('../images/checkcar/check_FR_insidepanel.png') no-repeat;}
#carCheckPopup .check_FR_sidemember						{background:url('../images/checkcar/check_FR_sidemember.png') no-repeat;}
#carCheckPopup .check_FR_wheelhouse						{background:url('../images/checkcar/check_FR_wheelhouse.png') no-repeat;}
#carCheckPopup .check_crossmember						{background:url('../images/checkcar/check_crossmember.png') no-repeat;}
#carCheckPopup .check_dashpanel							{background:url('../images/checkcar/check_dashpanel.png') no-repeat;}
#carCheckPopup .check_floorpanel							{background:url('../images/checkcar/check_floorpanel.png') no-repeat;}
#carCheckPopup .check_packagetray						{background:url('../images/checkcar/check_packagetray.png') no-repeat;}
#carCheckPopup .check_RL_wheelhouse						{background:url('../images/checkcar/check_RL_wheelhouse.png') no-repeat;}
#carCheckPopup .check_RL_sidemember						{background:url('../images/checkcar/check_RL_sidemember.png') no-repeat;}
#carCheckPopup .check_trunkfloor							{background:url('../images/checkcar/check_trunkfloor.png') no-repeat;}
#carCheckPopup .check_RR_sidemember						{background:url('../images/checkcar/check_RR_sidemember.png') no-repeat;}
#carCheckPopup .check_RR_wheelhouse						{background:url('../images/checkcar/check_RR_wheelhouse.png') no-repeat;}
#carCheckPopup .check_rearpanel							{background:url('../images/checkcar/check_rearpanel.png') no-repeat;}

/* 우측 */
#carCheckPopup .check_FR_foglamp							{background:url('../images/checkcar/check_FR_foglamp.png') no-repeat;}
#carCheckPopup .check_FR_wheel							{background:url('../images/checkcar/check_FR_wheel.png') no-repeat;}
#carCheckPopup .check_RR_wheel							{background:url('../images/checkcar/check_RR_wheel.png') no-repeat;}
#carCheckPopup .check_R_side								{background:url('../images/checkcar/check_R_side.png') no-repeat;}
#carCheckPopup .check_R_fender							{background:url('../images/checkcar/check_R_fender.png') no-repeat;}
#carCheckPopup .check_FR_door								{background:url('../images/checkcar/check_FR_door.png') no-repeat;}
#carCheckPopup .check_RR_door								{background:url('../images/checkcar/check_RR_door.png') no-repeat;}
#carCheckPopup .check_R_quarterpanel					{background:url('../images/checkcar/check_R_quarterpanel.png') no-repeat;}
#carCheckPopup .check_RR_foglamp							{background:url('../images/checkcar/check_RR_foglamp.png') no-repeat;}
#carCheckPopup .check_RA_filler							{background:url('../images/checkcar/check_RA_filler.png') no-repeat;}
#carCheckPopup .check_RB_filler							{background:url('../images/checkcar/check_RB_filler.png') no-repeat;}
#carCheckPopup .check_RC_filler							{background:url('../images/checkcar/check_RC_filler.png') no-repeat;}
#carCheckPopup .check_FR_window							{background:url('../images/checkcar/check_FR_window.png') no-repeat;}
#carCheckPopup .check_RR_window							{background:url('../images/checkcar/check_RR_window.png') no-repeat;}


/* 성능체크팝업 */
#carCheckPopup .layer-car-check {position:absolute;top:50%;left:50%;width:250px;width:230px;height:175px;background:url("../images/checkcar/bg-layer-car-check.png") no-repeat;background-size:100%;z-index:100}
#carCheckPopup .layer-car-check h4 {padding:18px 20px 15px 20px;color:#000;font-size:14px;font-weight:700;}
#carCheckPopup .layer-car-check .chk-list {padding:0 15px;}
#carCheckPopup .layer-car-check .chk-list ul {display:flex;flex-wrap:wrap;}
#carCheckPopup .layer-car-check .chk-list li {width:50%;margin-top:5px;}
#carCheckPopup .layer-car-check .chk-list li + li {}
#carCheckPopup .layer-car-check label {font-size:12px;}
#carCheckPopup .layer-car-check .btn {padding:0 5px 5px 5px;height:auto;width:100%;background:none}
#carCheckPopup .layer-car-check .bt-save {width:100%;height:40px;line-height:40px;}
#carCheckPopup .layer-car-check .bt-close-layer {position:absolute;right:0;top:0;width:43px;height:43px;background:url("../images/icon/ico-popup-closed.svg") no-repeat 50% 50%;}