@charset "utf-8";

/* main layout */
.body-ctn-main .layout--header {position:absolute;left:0;right:0;top:0;z-index:100;}
.body-ctn-main .layout--header header {height:80px;}
.body-ctn-main .layout--container {width:100%;padding:0;}
.body-ctn-main .layout--footer {position:relative;z-index:100;}
.layout--header h1.logo {left:0;top:0;transform: translateX(0%);}
.layout--header h1.logo a {height:120px;}
.layout--header .gnb {padding-left:320px;}
.layout--header .group-mnb .depth1 .mn {height:120px;line-height:120px;font-size:20px;}
.layout--header .group-snb .depth1 .mn {height:120px;line-height:120px;font-size:14px;}
.layout--header .bt-sidemenu {height:120px;}

/* main-type1 */
.ctn-main {}
.main-container {}
.main-building-container {}
.main-building-container .main-building {width:1920px;height:1460px;margin:0 auto;background:url("../images/main/type-c-bg.jpg") no-repeat 50% 0;background-size:100%;z-index:10}

.main-building-container:after {content:"";display:block;position:absolute;left:0;top:0;right:0;bottom:0;background:#fff;opacity:0;display:none;z-index:11;}
.main-building-container.listView:after {display:block;}
.main-building-container .link-area {position:relative;width:1600px;height:1310px;margin:0 auto;}
.main-building-container .link-area button {position:absolute;width:130px;height:100px;opacity:0;transition:opacity .3s}
.main-building-container .link-area button:hover {opacity:1;}

.main-building-container .link-area .car1 {width:207px;height:265px;top:175px;left:63px;background:url("../images/main/d01.png") no-repeat;background-size:100%;}
.main-building-container .link-area .car2 {width:207px;height:265px;top:204px;left:316.5px;background:url("../images/main/d02.png") no-repeat;background-size:100%;}
.main-building-container .link-area .car3 {width:207px;height:265px;top:233px;left:570px;background:url("../images/main/d03.png") no-repeat;background-size:100%;}
.main-building-container .link-area .car4 {width:207px;height:265px;top:263px;left:823.5px;background:url("../images/main/d04.png") no-repeat;background-size:100%;}

.main-building-container .link-area .car5 {width:207px;height:265px;top:485px;left:63px;background:url("../images/main/d05.png") no-repeat;background-size:100%;}
.main-building-container .link-area .car6 {width:207px;height:265px;top:513px;left:316px;background:url("../images/main/d06.png") no-repeat;background-size:100%;}
.main-building-container .link-area .car7 {width:207px;height:265px;top:543px;left:570px;background:url("../images/main/d07.png") no-repeat;background-size:100%;}
.main-building-container .link-area .car8 {width:207px;height:265px;top:572px;left:824px;background:url("../images/main/d08.png") no-repeat;background-size:100%;}

.main-building-container .link-area .car9 {width:207px;height:424px;top:774px;left:63px;background:url("../images/main/d09.png") no-repeat;background-size:100%;}
.main-building-container .link-area .car10 {width:207px;height:423px;top:804px;left:317px;background:url("../images/main/d10.png") no-repeat;background-size:100%;}
.main-building-container .link-area .car11 {width:436px;height:445px;top:839px;left:595px;background:url("../images/main/d11.png") no-repeat;background-size:100%;}
.main-building-container .link-area .car12 {width:165px;height:1034px;top:278px;left:1135px;background:url("../images/main/d12.png") no-repeat;background-size:100%;}

.popup_list {width:1250px;}
.popup_list .pop-head {height:85px;}
.popup_list .pop-head img {display:block;padding-left:5px;padding-top:20px;}
.popup_list .pop_close {right:-50px;background:url("../images/icon/ico-close-layer-white.svg") no-repeat 50% 50%}