<!DOCTYPE html>
<html lang="ko">
<head>
	<meta name="description" content="롯데렌터카가 직접 관리하고 진단한 중고차를 실속있는 렌탈료로 이용하세요! 허위 매물 걱정 Zero, 편리한 방문정비 서비스, 인수/반납 타보고 결정">
	<meta name="keywords" content="롯데렌터카마이카세이브, 롯데렌터카세이브, 롯데렌터카마이카, 중고차렌트, 중고차렌탈, 중고차장기렌탈, 중고차장기렌트, 롯데렌터카중고차장기렌터카, 롯데렌터카중고차, 중고차장기렌터카, 중고차구매, 중고차시세, 관리중고차, 진단중고차, 인증중고차, 중고차, 중고차거래, 중고차비교, 중고차견적, 중고차사이트, 중고차플랫폼">
	<meta property="og:title" content="롯데렌터카 마이카 세이브">
	<meta property="og:site_name" content="롯데렌터카 마이카 세이브">
	<meta name="og:description" content="롯데렌터카가 직접 관리하고 진단한 중고차를 실속있는 렌탈료로 이용하세요! 허위 매물 걱정 Zero, 편리한 방문정비 서비스, 인수/반납 타보고 결정">
	<meta property="og:image" content="https://mycarsave.lotterentacar.net/images/common/logo.png">
	<link rel="shortcut icon" sizes="192x192" href="/images/icon/android.png">
	<link rel="icon" type="image/x-icon" href="https://mycarsave.lotterentacar.net/pc/images/icon/favicon.ico">

	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta id="_csrf" name="_csrf" content="e0f721a0-f4ca-4e8b-b351-846e7d0a6c7b">
	<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" content="X-CSRF-TOKEN">

	<!-- th:block layout:fragment="title"></th:block-->
	<title>롯데렌터카 마이카 세이브</title>

	<!-- 공통 링크 s -->
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/fonts.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/jquery-ui.min.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/swiper.min.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/jquery.mCustomScrollbar.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/et_ux.css?version=f450d3443c71493fa90f649d39b31283">

	
		<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/common_new.css?version=f450d3443c71493fa90f649d39b31283" as="style" onload="this.onload=null;this.rel='stylesheet'">

	
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/search-list.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/main.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/sub.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/car-insert.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/car-check-view.css?version=f450d3443c71493fa90f649d39b31283">

	<!-- 추가 css -->
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/popup.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/process.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/mypage.css?version=f450d3443c71493fa90f649d39b31283">

<!--	<th:block th:if="${isCarToHomeCancel != null}">-->
<!--		<link rel="stylesheet" th:href="@{|https://mycarsave.lotterentacar.net/pc/css/cartohome.css?version=${staticVersion}|}" />-->
<!--	</th:block>-->
<!--	<th:block th:unless="${isCarToHomeCancel != null}">-->
<!--		<link rel="stylesheet" th:href="@{|https://mycarsave.lotterentacar.net/pc/css/cartohome-new.css?version=${staticVersion}|}" />-->
<!--	</th:block>-->

	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/custom.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/react-360-view.css?version=f450d3443c71493fa90f649d39b31283">
	<link rel="stylesheet" href="https://mycarsave.lotterentacar.net/pc/css/landing.css?version=f450d3443c71493fa90f649d39b31283">
	<!-- photo upload library -->
<!--	<link rel="stylesheet" th:href="@{|https://mycarsave.lotterentacar.net/pc/js/dropzone/dropzone.css?version=${staticVersion}|}" />-->
<!--	<link rel="stylesheet" th:href="@{|https://mycarsave.lotterentacar.net/pc/js/cropper/cropper.min.css?version=${staticVersion}|}" />-->

	<!-- cropper library css -->
<!--	<th:block th:if="${hasImageEditor != null}">-->
<!--		<link rel="stylesheet" th:href="@{|https://mycarsave.lotterentacar.net/pc/css/image-editor.css?version=${staticVersion}|}" type="text/css"/>-->
<!--	</th:block>-->
	<script src="https://mycarsave.lotterentacar.net/pc/js/jquery-3.4.1.min.js"></script>
	<script src="https://mycarsave.lotterentacar.net/pc/js/jquery-ui.min.js"></script>
	<script src="https://mycarsave.lotterentacar.net/pc/js/swiper.min.js"></script>
<!--	스와이퍼 번들추가-->
	<script src="https://mycarsave.lotterentacar.net/pc/js/swiper-bundle.min.js"></script>
<!--	<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/jquery.panzoom.min.js}"></script>-->
	<script src="https://mycarsave.lotterentacar.net/pc/js/jquery.mousewheel.js"></script>
	<script src="https://mycarsave.lotterentacar.net/pc/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!--	<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/imagesloaded.pkgd.min.js}"></script>-->
<!--	<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/masonry.pkgd.min.js}"></script>-->
	<script src="https://mycarsave.lotterentacar.net/pc/js/const.js?version=f450d3443c71493fa90f649d39b31283"></script>
	<!--<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/jquery-1.10.2.min.js}"></script>-->
<!--	<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/modernizr-2.7.1-csstransforms3d-canvas-touch.js}"></script>-->
<!--	<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/megapix-image.js}"></script>-->
<!--	<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/three.min.js}"></script>-->
<!--	<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/Detector.js}"></script>-->
<!--	<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/CSS3DRenderer.js}"></script>-->
<!--	<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/theta-viewer.js}"></script>-->
<!--	<th:block th:if="${hasImageEditor != null}">-->
<!--		<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/dropzone/dropzone.min.js}"></script>-->
<!--		<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/cropper/cropper.min.js}"></script>-->
<!--		<script th:src="@{https://mycarsave.lotterentacar.net/pc/js/cropper/jquery-cropper.js}"></script>-->
<!--	</th:block>-->
	<!-- image editor style -->
	<!--<script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>-->
	
	<!-- 퍼블용 -->
	<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css" />
	<script src="../pc/js/jquery-3.4.1.min.js"></script>
	<script src="../pc/js/slick.min.js"></script>
	

	<link rel="stylesheet" type="text/css" href="../pc/css/slick.css" />
	<link rel="stylesheet" type="text/css" href="../pc/css/slick-theme.css" />	
	<link rel="stylesheet" type="text/css" href="../pc/css/aos.css" />	
	<link rel="stylesheet" type="text/css" href="../pc/css/renew.css">
	<!-- //퍼블용 -->
	<script src="../pc/js/aos.js"></script>


	<script>
		$(function (){
			// 섹션별 에니메이션
			AOS.init({duration:1200,offset:100});
		});
	</script>
</head>
<body>

<div id="wrap" class="layout--wrap">

	<header id="header">
		<!-- layout--header -->
		<section class="layout--header-new scroll">
			<header>
				<h1 class="logo-wrap"><a href="/" class="ir">롯데렌터카 마이카 세이브</a></h1>
				<nav>
					<ul>
						<li class="depth1"><a href="#">구매하기</a></li>
						<li class="depth1"><a href="/cr/search/list">중고차렌트</a></li>
						<li class="depth1"><a href="/rental/new">신차렌트</a></li>
						<!-- <li class="depth1"><a href="/rental/lease">오토리스</a></li> -->
						<li class="depth1"><a href="https://www.lotterentacar.net/hp/kor/usedCar/sellmycar/myCarSellApply.do" target="_blank">내차팔기</a></li>
						<li class="btn-login"><button type="button" class="bt-btn-login">로그인</button></li>							
						
						<li class="btn-more">
							<button>더보기</button>
							<ul class="sub-menu">
								<li><a href="/cs/noti/list">공지사항</a></li>
								<li><a href="/cs/faq/list">FAQ</a></li>
								<!-- <li><a href="/cs/event/list">이벤트</a></li> -->
								<li><a href="/cr/theme/list">기획전</a></li>
								<li><a href="/co/compare/main">비교하기</a></li>
								<!-- <li><a href="/mypage/interest/rcntList">최근 본 차량</a></li>-->
								<!-- <li th:if="${loginYn == 'Y'}"><a href="/mypage/interest/intrsList">관심차량</a></li>-->
								<li><a href="/cr/review/list">고객후기</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
			<!-- 				
			<div id="reactLoginMenu"><div class="layer_popup_wrappper rent-pop" id="alertMainPopup"><div class="layer_popup login-pop"><div class="pop_inner"><div class="pop-head"><h2>로그인</h2><button class="ir btn-close">팝업닫기</button></div><div class="pop-contents"><div class="login-wrap"><h3>로그인 방식을 선택해 주세요!</h3><ul class="sns-login-list"><li><button class="login-btn pass">휴대폰 번호인증</button></li><li><button class="login-btn naver">네이버</button><button type="button" id="naverIdLogin" style="display: none;"><a id="naverIdLogin_loginButton" href="#"><img src="https://static.nid.naver.com/oauth/small_w_in.PNG?version=js-2.0.1" height="49"></a></button></li><li><button class="login-btn kakao">카카오</button></li><li><button class="login-btn lpoint">엘포인트 통합회원</button></li></ul><ul class="join-link"><li><a href="#">회원가입</a></li><li><a href="#">아이디찾기</a></li><li><a href="#">비밀번호 찾기</a></li></ul></div></div></div></div></div></div> -->
		</section>
		<script>
			/* 헤더 검색 UI */
	
			// 더보기메뉴
			$(document).ready(function() {
				$(".btn-more").click(function() {
					$(this).toggleClass("on");
				});
			});
	
		</script>
	</header>

	
	<div class="mainContents">
		<div class="skeletonBx">
			<div class="keyTabs">
				<div class="Keytab active">
					<ul class="carKeywordList">		
						<li>
							<a href="#">
								<div class="imgBx skeleton-line">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<dl class="txtPrice">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<ul class="badgeList">
										<li class="skeleton-line"></li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="imgBx skeleton-line">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<dl class="txtPrice">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<ul class="badgeList">
										<li class="skeleton-line"></li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="imgBx skeleton-line">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<dl class="txtPrice">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<ul class="badgeList">
										<li class="skeleton-line"></li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="imgBx skeleton-line">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<dl class="txtPrice">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<ul class="badgeList">
										<li class="skeleton-line"></li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="imgBx skeleton-line">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<dl class="txtPrice">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<ul class="badgeList">
										<li class="skeleton-line"></li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="imgBx skeleton-line">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<dl class="txtPrice">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<ul class="badgeList">
										<li class="skeleton-line"></li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="imgBx skeleton-line">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<dl class="txtPrice">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<ul class="badgeList">
										<li class="skeleton-line"></li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="imgBx skeleton-line">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<dl class="txtPrice">
										<dt class="skeleton-line"></dt>
										<dd class="skeleton-line"></dd>
									</dl>
									<ul class="badgeList">
										<li class="skeleton-line"></li>
									</ul>
								</div>
							</a>
						</li>
					</ul>
				</div>		
			</div>	
		</div>

		<div class="carKeywordBx" style="display:none;">
			<div class="keyTabs">
				<div class="Keytab active">
					<ul class="carKeywordList">
						<li>
							<a href="#">
								<span class="state">상담진행중</span>
								<div class="imgBx">
									<img src="../pc/images/renew/sample_car1.png" alt="자동차샘플">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt>현대 쏘나타(DN8) 하이브리드 2.0 HEV 인스퍼레이션</dt>
										<dd>2021.09(22년형)</dd>
										<dd>126,792km</dd>  
										<dd>하이브리드</dd>
									</dl>
									<dl class="txtPrice">
										<dt>월 <span class="bold">600,000</span>원<span class="month">/ 24개월</span></dt>
										<dd>신차가 80,000,000원</dd>
									</dl>
									<ul class="badgeList">
										<li class="direct">다이렉트 전용</li>
										<li>인증차</li>
										<li>진단차</li>
										<li>관리차</li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="state">상담진행중</span>
								<div class="imgBx">
									<img src="../pc/images/renew/sample_car2.png" alt="자동차샘플">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt>현대 쏘나타(DN8) 하이브리드 2.0 HEV 인스퍼레이션</dt>
										<dd>2021.09(22년형)</dd>
										<dd>126,792km</dd>  
										<dd>하이브리드</dd>
									</dl>
									<dl class="txtPrice">
										<dt>월 <span class="bold">600,000</span>원<span class="month">/ 24개월</span></dt>
										<dd>신차가 80,000,000원</dd>
									</dl>
									<ul class="badgeList">
										<li class="direct">다이렉트 전용</li>
										<li>관리차</li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="state">상담진행중</span>
								<div class="imgBx">
									<img src="../pc/images/renew/sample_car3.png" alt="자동차샘플">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt>현대 쏘나타(DN8) 하이브리드 2.0 HEV 인스퍼레이션</dt>
										<dd>2021.09(22년형)</dd>
										<dd>하이브리드</dd>
									</dl>
									<dl class="txtPrice">
										<dt>월 <span class="bold">600,000</span>원<span class="month">/ 24개월</span></dt>
										<dd>신차가 80,000,000원</dd>
									</dl>
									<ul class="badgeList">
										<li>인증차</li>
										<li>진단차</li>
										<li>관리차</li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="state">상담진행중</span>
								<div class="imgBx">
									<img src="../pc/images/renew/sample_car4.png" alt="자동차샘플">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt>현대 쏘나타(DN8) 하이브리드 2.0 HEV 인스퍼레이션</dt>
										<dd>2021.09(22년형)</dd>
										<dd>126,792km</dd>  
										<dd>하이브리드</dd>
									</dl>
									<dl class="txtPrice">
										<dt>월 <span class="bold">600,000</span>원<span class="month">/ 24개월</span></dt>
										<dd>신차가 80,000,000원</dd>
									</dl>
									<ul class="badgeList">
										<li class="direct">다이렉트 전용</li>
										<li>인증차</li>
										<li>진단차</li>
										<li>관리차</li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="state">상담진행중</span>
								<div class="imgBx">
									<img src="../pc/images/renew/sample_car1.png" alt="자동차샘플">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt>현대 쏘나타(DN8) 하이브리드 2.0 HEV 인스퍼레이션</dt>
										<dd>2021.09(22년형)</dd>
										<dd>126,792km</dd>  
										<dd>하이브리드</dd>
									</dl>
									<dl class="txtPrice">
										<dt>월 <span class="bold">600,000</span>원<span class="month">/ 24개월</span></dt>
										<dd>신차가 80,000,000원</dd>
									</dl>
									<ul class="badgeList">
										<li class="direct">다이렉트 전용</li>
										<li>인증차</li>
										<li>진단차</li>
										<li>관리차</li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="state">상담진행중</span>
								<div class="imgBx">
									<img src="../pc/images/renew/sample_car2.png" alt="자동차샘플">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt>현대 쏘나타(DN8) 하이브리드 2.0 HEV 인스퍼레이션</dt>
										<dd>2021.09(22년형)</dd>
										<dd>126,792km</dd>  
										<dd>하이브리드</dd>
									</dl>
									<dl class="txtPrice">
										<dt>월 <span class="bold">600,000</span>원<span class="month">/ 24개월</span></dt>
										<dd>신차가 80,000,000원</dd>
									</dl>
									<ul class="badgeList">
										<li class="direct">다이렉트 전용</li>
										<li>관리차</li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="state">상담진행중</span>
								<div class="imgBx">
									<img src="../pc/images/renew/sample_car3.png" alt="자동차샘플">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt>현대 쏘나타(DN8) 하이브리드 2.0 HEV 인스퍼레이션</dt>
										<dd>2021.09(22년형)</dd>
										<dd>하이브리드</dd>
									</dl>
									<dl class="txtPrice">
										<dt>월 <span class="bold">600,000</span>원<span class="month">/ 24개월</span></dt>
										<dd>신차가 80,000,000원</dd>
									</dl>
									<ul class="badgeList">
										<li>인증차</li>
										<li>진단차</li>
										<li>관리차</li>
									</ul>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="state">상담진행중</span>
								<div class="imgBx">
									<img src="../pc/images/renew/sample_car4.png" alt="자동차샘플">
								</div>
								<div class="carTxtCon">
									<dl class="txtTit">
										<dt>현대 쏘나타(DN8) 하이브리드 2.0 HEV 인스퍼레이션</dt>
										<dd>2021.09(22년형)</dd>
										<dd>126,792km</dd>  
										<dd>하이브리드</dd>
									</dl>
									<dl class="txtPrice">
										<dt>월 <span class="bold">600,000</span>원<span class="month">/ 24개월</span></dt>
										<dd>신차가 80,000,000원</dd>
									</dl>
									<ul class="badgeList">
										<li class="direct">다이렉트 전용</li>
										<li>인증차</li>
										<li>진단차</li>
										<li>관리차</li>
									</ul>
								</div>
							</a>
						</li>
					</ul>
				</div>
		

	
			</div>
			
	
		</div>

		<script>
			window.onload = function () {
				setTimeout(function () {
				// 스켈레톤 UI 숨기기
				document.querySelector(".skeletonBx").style.display = "none";
				// 실제 콘텐츠 표시
				document.querySelector(".carKeywordBx").style.display = "block";
				}, 3000); // 1초 후 실행
			};
		</script>

		<!-- 스켈레톤 UI 시작 -->
		<div class="skelWrap" style="display:none;">
			<div class="skeleton-wrapper">
				<div class="skeleton-header"></div>
				<div class="skeleton-content">
				<div class="skeleton-line"></div>
				<div class="skeleton-line"></div>
				<div class="skeleton-line"></div>
				</div>
			</div>
			<!-- 스켈레톤 UI 종료 -->
		
			<!-- 실제 콘텐츠 시작 -->
			<div class="actual-content" style="display: none">
				<img src="../pc/images/renew/sample_car1.png" alt="Sample Image" width="100%" />
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
				</p>
				<p>
				Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
				sed, dolor.
				</p>
				<p>
				Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper
				congue, euismod non, mi.
				</p>
			</div>
		</div>
		<!-- 실제 콘텐츠 종료 -->

		<style>
			.carKeywordBx .keyTabs{padding:0;margin:0;}
			.carKeywordList li .imgBx{width:280px;height:200px;border-radius:5px;overflow:hidden;}
			.carKeywordList li .imgBx img{width:280px;height:200px;}
			.carKeywordList li .carTxtCon dl.txtTit dt{height:48px;}
			.carKeywordList li .carTxtCon dl.txtTit dd{height:22px;}
			.carKeywordList li .carTxtCon dl.txtPrice dt{height:26px;}
			.carKeywordList li .carTxtCon dl.txtPrice dd{height:20px;}
			.carKeywordList li .carTxtCon .badgeList li{height:30px;}
			.carKeywordBx{margin:100px 0;}
			.skeletonBx{margin:100px 0;}
			.carKeywordList{overflow:hidden;width:1200px;margin:0 auto;}
			.carKeywordList li{float:left;margin: 10px;}
			.skelWrap{width:1200px;padding:200px 0;margin:0 auto;position:relative}
			/* 스켈레톤 UI의 외부 컨테이너 스타일 */
	
		
			/* 스켈레톤 UI의 기본 스타일 및 애니메이션 */
			.skeleton-header,
			.skeleton-line {
				width:100%;height:100%;
				background: linear-gradient(
				90deg,
				#f0f0f0 25%,
				#e0e0e0 50%,
				#f0f0f0 75%
				);
				background-size: 200% 100%;
				animation: shimmer 1.5s infinite;
			}
		
			/* 스켈레톤 UI의 반짝임 애니메이션 */
			@keyframes shimmer {
				0% {
				background-position: -200% 0;
				}
				100% {
				background-position: 200% 0;
				}
			}
			</style>
			  <style>
				.wrapper {
				  width: 20rem;
				  border: 1px solid #e4eaef;
				  border-radius: 12px;
				  overflow: hidden;
				}
				@keyframes loading {
				  0% {
					opacity: 1;
				  }
				  50% {
					opacity: 0.5;
				  }
				  100% {
					opacity: 1;
				  }
				}
			
				.imgBox {
				  height: 207px;
				  background: #f7f9fa;
				  background-size: 200% 100%;
				  animation: loading 2.5s infinite;
				}
				.infoBox {
				  padding: 12px;
			
				  > :nth-child(1) {
					width: 100%;
					height: 1.5rem;
					border-radius: 0.5rem;
					background-color: #e4eaef;
					background-size: 200% 100%;
					animation: loading 2.5s infinite;
				  }
			
				  > :nth-child(2) {
					margin-top: 1rem;
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
				  }
				  .itemBox {
					display: flex;
					gap: 0.5rem;
				  }
				  .lastItemBox {
					display: flex;
					justify-content: space-between;
					align-items: center;
				  }
				  .itemIcon {
					width: 1rem;
					height: 1rem;
					border-radius: 0.1rem;
					background-color: #e4eaef;
					background-size: 200% 100%;
					animation: loading 2.5s infinite;
				  }
				  .itemMent {
					width: 5rem;
					height: 1rem;
					border-radius: 0.5rem;
					background-color: #e4eaef;
					background-size: 200% 100%;
					animation: loading 2.5s infinite;
				  }
			
				  .priceBox {
					width: 6rem;
					height: 1.8rem;
					border-radius: 0.5rem;
					background: #e4eaef;
					border-radius: 1rem;
					background-size: 200% 100%;
					animation: loading 2.5s infinite;
				  }
				}
		</style>


		<div class="quickBan">	
			<div class="quickList">
				<a href="javascript:;" class="btnQuickCar"><span class="num">119</span>최근본차량</a>
				<a href="javascript:;" class="btnQuickFav">관심차량</a>
				<a href="javascript:;" class="btnQuickPrice">견적보관함</a>
			</div>
			<button type="button" class="btnQuick">퀵메뉴</button>
			<button type="button" class="btnTop">TOP</button>
		</div>

		<script>
		
			$('.btnQuick').on('click',function(){    
				$(this).toggleClass('active');			
				$('.quickList').toggleClass('active');
			});

			$(window).on('scroll', function() {
				if ($(window).scrollTop() > 500) {
					$('.quickBan').fadeIn();
				} else {
					$('.quickBan').fadeOut();
				}
			});			
			$('.btnTop').on('click',function(){
				$('html, body').stop(true,true).animate({scrollTop : 0},400);
				$('.quickList,.btnQuick').removeClass('active');
				return false;
			});

		</script>
	</div>
	

	<footer class="footer-content new" style="display:block">
		<section class="footer-top">
			<div class="footer-link">
				<div class="inner">
					<ul>
						<li>
							<!--<a href="https://lotterentacar.net/hp/kor/main/index.do" target="_blank">롯데렌터카 </a>-->
							<a href="#" onclick="goLotteRenterCar()">롯데렌터카</a>
						</li>
						<li>
							<!--<a href="https://direct.lotterentacar.net/main/main.do?utm_source=lotterentacar&utm_medium=footer&utm_campaign=FamilySite&utm_content=%EC%8B%A0%EC%B0%A8%EC%9E%A5%EB%8B%A4%EC%9D%B4%EB%A0%89%ED%8A%B8" target="_blank">롯데렌터카 마이카</a>-->
							<a href="#" onclick="goDirect()">롯데렌터카 마이카</a>
						</li>
						<li>
							<!--<a href="https://manager.lotterentacar.net/main.do" target="_blank">롯데렌터카 마이카 멤버십</a>-->
							<a href="#" onclick="goMembership()">롯데렌터카 마이카 멤버십</a>
						</li>
						<li>
							<!--<a href="https://business.lotterental.com/login.do?utm_source=lotterentacar&utm_medium=main&utm_campaign=footer&utm_content=%EB%A1%AF%EB%8D%B0%EB%A0%8C%ED%83%88%EB%B9%84%EC%A6%88%EB%8B%88%EC%8A%A4" target="_blank">롯데렌터카 비즈카</a>-->
							<a href="#" onclick="goRentalBusiness()">롯데렌터카 비즈카</a>
						</li>
						<li>
							<a href="https://www.lotte-autoglobal.net/co/main/mainView.do" target="_blank">롯데오토글로벌</a>
						</li>
						<li>
							<a href="https://www.lotte-autolease.com" target="_blank">롯데오토리스</a>
						</li>
						<li>
							<a href="https://www.lotteautocare.com/?utm_source=lotterentacar&amp;utm_medium=main&amp;utm_campaign=footer&amp;utm_content=%EB%A1%AF%EB%8D%B0%EC%98%A4%ED%86%A0%EC%BC%80%EC%96%B4" target="_blank">롯데오토케어</a>
						</li>
						<li>
							<!--<a href="http://www.greencar.co.kr" target="_blank">그린카</a>-->
							<a href="#" onclick="goGreenCar()">그린카</a>
						</li>
						<li>
							<a href="https://recruit.lotterental.net" target="_blank">인재채용</a>
						</li>
					</ul>
					<div class="family">
						<button type="button" class="family-btn">FAMILY SITE</button>
						<div class="family-cont">
							<div class="detail-layer-in">
								<ul class="list-wrap">
									<li>
										<p><a href="#" class="tit">식품부문</a></p>
										<div class="detail-layer-list">
											<ul>
												<li>
													<a href="https://www.lotteconf.co.kr/" target="_blank">롯데제과</a>
												</li>
												<li>
													<a href="https://company.lottechilsung.co.kr/kor/main/index.do" target="_blank">롯데칠성음료
														(음료BG)</a>
												</li>
												<li>
													<a href="https://company.lottechilsung.co.kr/kor/main/index.do" target="_blank">롯데칠성음료
														(주류BG)</a>
												</li>
												<li>
													<a href="http://www.lottefoods.co.kr/" target="_blank">롯데웰푸드</a>
												</li>
												<li>
													<a href="http://www.lotte.co.kr/business/compDetail.do?compCd=L105" target="_blank">롯데네슬레</a>
												</li>
												<li>
													<a href="http://www.asahibeerk.com/" target="_blank">롯데아사히주류</a>
												</li>
												<li>
													<a href="https://www.lottelmsc.com/" target="_blank">롯데유통사업본부</a>
												</li>
												<li>
													<a href="https://www.lotternd.com/KOR/" target="_blank">롯데중앙연구소</a>
												</li>
												<li>
													<a href="https://www.lottegrs.com/main.jsp" target="_blank">롯데지알에스</a>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<p><a href="#" class="tit">유통부문</a></p>
										<div class="detail-layer-list">
											<ul>
												<li>
													<a href="https://www.lotteshopping.com/" target="_blank">롯데백화점</a>
												</li>
												<li>
													<a href="https://www.lotteon.com/p/display/main/lottemart?mall_no=4&amp;ch_no=100195&amp;ch_dtl_no=1000617" target="_blank">롯데마트</a>
												</li>
												<li>
													<a href="https://www.lotteon.com/p/display/main/lottefresh?mall_no=5&amp;ch_no=100195&amp;ch_dtl_no=1000617" target="_blank">롯데슈퍼</a>
												</li>
												<li>
													<a href="https://www.7-eleven.co.kr/" target="_blank">코리아세븐</a>
												</li>
												<li>
													<a href="http://www.e-himart.co.kr/app/display/showDisplayShop?originReferrer=himartindex" target="_blank">롯데하이마트</a>
												</li>
												<li>
													<a href="http://www.lottehomeshopping.com/user/main/index.lotte" target="_blank">롯데홈쇼핑</a>
												</li>
												<li>
													<a href="https://www.lotteon.com/p/display/main/lotteon?mall_no=1" target="_blank">롯데쇼핑e커머스</a>
												</li>
												<li>
													<a href="https://www.lotteon.com/p/display/main/lottelohbs?mall_no=7&amp;ch_no=100195&amp;ch_dtl_no=1000617" target="_blank">롭스</a>
												</li>
												<li>
													<a href="http://www.lottemembers.com/" target="_blank">롯데멤버스</a>
												</li>
												<li>
													<a href="https://www.lottecultureworks.com" target="_blank">롯데컬쳐웍스</a>
												</li>
												<li>
													<a href="https://www.lottecinema.co.kr" target="_blank">롯데시네마</a>
												</li>
												<li>
													<a href="https://www.charlottetheater.co.kr" target="_blank">샤롯데씨어터</a>
												</li>
												<li>
													<a href="http://www.lotte.co.kr/business/compDetail.do?compCd=L210" target="_blank">에프알엘코리아</a>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<p><a href="#" class="tit">화학/건설/제조 부문</a></p>
										<div class="detail-layer-list">
											<ul>
												<li>
													<a href="https://www.lottemcc.com/index.do" target="_blank">롯데엠시시</a>
												</li>
												<li>
													<a href="http://www.lottecon.co.kr/" target="_blank">롯데건설</a>
												</li>
												<li>
													<a href="https://www.lottecm.com/ko/main.do" target="_blank">롯데CM사업본부</a>
												</li>
												<li>
													<a href="http://www.lottelem.co.kr/" target="_blank">롯데기공</a>
												</li>
												<li>
													<a href="https://www.lotteal.co.kr/" target="_blank">롯데알미늄</a>
												</li>
												<li>
													<a href="https://www.lottefinechem.com/" target="_blank">롯데정밀화학</a>
												</li>
												<li>
													<a href="https://www.lottechem.com" target="_blank">롯데케미칼</a>
												</li>
												<li>
													<a href="http://www.lotteineos.com/" target="_blank">롯데이네오스화학</a>
												</li>
												<li>
													<a href="https://kr.canon/ " target="_blank">캐논코리아</a>
												</li>
												<li>
													<a href="http://www.kpchemtech.co.kr/html/00_main/main.php" target="_blank">케이피캠텍</a>
												</li>
												<li>
													<a href="http://www.lotte.co.kr/business/compDetail.do?compCd=L311" target="_blank">한국후지필름</a>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<p><a href="#" class="tit">관광/서비스/금융부문</a></p>
										<div class="detail-layer-list flex">
											<ul>
												<li>
													<a href="https://www.lotteglogis.com/" target="_blank">롯데글로벌지스</a>
												</li>
												<li>
													<a href="https://www.lotterental.com" target="_blank">롯데렌탈</a>
												</li>
												<li>
													<a href="https://www.lotteresort.com/main/ko/index" target="_blank">롯데리조트</a>
												</li>
												<li>
													<a href="https://kr.lottedfs.com/main/index.do" target="_blank">롯데면세점</a>
												</li>
												<li>
													<a href="http://www.lotte.co.kr/business/compDetail.do?compCd=L406" target="_blank">롯데문화재단</a>
												</li>
												<li>
													<a href="http://www.lottepnd.com/main.do" target="_blank">롯데물산</a>
												</li>
												<li>
													<a href="http://www.lotte.co.kr/business/compDetail.do?compCd=L408" target="_blank">롯데미래전략연구소</a>
												</li>
												<li>
													<a href="https://www.lottefoundation.or.kr/" target="_blank">롯데복지재단</a>
												</li>
												<li>
													<a href="https://www.lotte.co.kr/business/compDetail.do?compCd=L410" target="_blank">롯데삼동복지재단</a>
												</li>
												<li>
													<a href="https://www.lotteskyhill.com/" target="_blank">롯데스카이힐CC</a>
												</li>
												<li>
													<a href="http://www.lotteworld.com/gate.html" target="_blank">롯데월드</a>
												</li>
											</ul>
											<ul>
												<li>
													<a href="https://ez.lotteacademy.co.kr/login/loginForm.do" target="_blank">롯데인재개발원</a>
												</li>
												<li>
													<a href="http://www.lotte.co.kr/business/compDetail.do?compCd=L415" target="_blank">롯데자산개발</a>
												</li>
												<li>
													<a href="https://www.giantsclub.com/html/" target="_blank">롯데자이언츠</a>
												</li>
												<li>
													<a href="https://www.lottefoundation.or.kr/" target="_blank">롯데장학재단</a>
												</li>
												<li>
													<a href="https://www.ldcc.co.kr/" target="_blank">롯데정보통신</a>
												</li>
												<li>
													<a href="http://www.lottejtb.com/" target="_blank">롯데제이티비</a>
												</li>
												<li>
													<a href="https://www.lottecap.com/ma/ma/MAMA00100" target="_blank">롯데캐피탈</a>
												</li>
												<li>
													<a href="https://www.lottehotel.com/global/ko.html" target="_blank">롯데호텔</a>
												</li>
												<li>
													<a href="https://www.daehong.com/" target="_blank">대홍기획</a>
												</li>
												<li>
													<a href="https://www.lottehotel.com/busan-hotel/ko.html" target="_blank">부산롯데호텔</a>
												</li>
												<li>
													<a href="https://www.lotteintl.co.kr//" target="_blank">롯데상사</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="footer-cs">
			<div class="footer-inner">
				<dl>
					<dt>고객센터 <span>(평일 09:00 ~ 18:00)</span></dt>
					<dd><a href="tel:031-322-8000">031. 322. 8000</a></dd>
				</dl>
				<div class="footer-sns">
					<p>공식 SNS 채널</p>
					<button type="button" class="ir insta" onclick="location.href='https://www.instagram.com/lotte_rentacar'">Instagram</button>
					<button type="button" class="ir facebook" onclick="location.href='https://www.facebook.com/official.lotterental'">Facebook</button>
					<button type="button" class="ir kakao" onclick="location.href='https://pf.kakao.com/_gVmbl'">Kakao</button>
					<button type="button" class="ir blog" onclick="location.href='https://blog.naver.com/official_lotterental'">blog</button>
					<button type="button" class="ir utube" onclick="location.href='https://www.youtube.com/channel/UCih7WKy20DaLIibm32uAQAg'">utube</button>
				</div>
				<div class="qr-wrap">
					<div class="img-wrap">
						<img src="https://mycarsave.lotterentacar.net/pc/images/rent_new/icon/qr.svg" alt="qrcode">
					</div>
					<dl>
						<dt>APP 다운로드</dt>
						<dd>지금 롯데렌터카 앱을 다운받고<br>다양한 혜택을 만나보세요.</dd>
					</dl>
				</div>
			</div>
		</div>
		

		<div class="footer-address">
			<div class="footer-inner">
				<h1 class="logo"><img src="https://mycarsave.lotterentacar.net/pc/images/rent_new/logo/logo_footer.svg"></h1>
				<div>
					<ul class="footer-info">
						<li>
							<span><b>대표이사</b> : 최진환</span>
							<span><b>E-mail</b> : <a href="mailto:lotteautomarket@lotte.net">lotteautomarket@lotte.net</a></span>
							<span><b>사업자등록번호</b> : 214-87-79183</span>
							<span><b>통신판매업신고번호</b> : 제2010-경기안양-420호</span>
						</li>
						<li><span><b>사업장 </b> : 서울시 강남구 테헤란로 422 KT타워 10 / 경기도 안양시 동안구 전파로 88, 8층(호계동, 신원비젼타워)</span></li>
						<li>
							<button onclick="ui.modalPopOpen('#certificatePopup');" type="button" style="text-decoration: underline;">대출성 금융상품판매대리ㆍ중개업자등록증</button>
						</li>
					</ul>
					<ul class="footer-link">
						<li><a href="https://www.lotterentacar.net/hp/kor/compInfo.do">회사소개</a></li>
						<li><a href="https://www.lotterentacar.net/hp/kor/terms/use.do" target="_blank">이용약관</a></li>
						<li><a href="/cs/privacy" class="emp" target="_blank"><b>개인정보처리방침</b></a></li>
						<li><a href="https://www.lotterentacar.net/hp/kor/terms/videoInfo.do" class="emp" target="_blank"><b>영상정보처리방침</b></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

</div>
</body>
</html>