<!DOCTYPE html>
<html lang="ko">
<head>
<title>롯데오토마켓</title>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta property="og:title" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<!-- front UI css -->
<link rel="stylesheet" href="css/default.css" type="text/css" />
</head>
<body>

    <!-- layout--header -->
    <div class="layout--header-new">
        <header>
            <h1 class="logo-wrap"><a href="#" class="ir">롯데렌터카 마이카 세이브</a></h1>
            <nav>
                <ul>
                    <li><a href='/'><b>중고차렌트</b></a></li>
                    <li><a href="/rental/new">신차렌트</a></li>
                    <li><a href="" >오토리스</a></li>
                    <li><a href="/finance/rent" >차량승계</a></li>
                    <li class="depth1"><a href="/sell/sise" >내차팔기</a></li>
                    <li th:if="${loginYn == 'N'}" class="btn-login"><a href="#">로그인</a></li>
                    <!-- <li th:if="${loginYn == 'Y'}" class="btn-login"><a href="/auth/logout">로그아웃</a></li> -->
                </ul>
            </nav>
        </header>
    </div>
    

    <!-- 컨텐츠 시작 -->
    <main class="layout--containter">
    </main>


    <!--  팝업   -->
    <div class="layer_popup_wrappper rent-pop" id="alertPop01" style="display: block;">
        <div class="layer_popup login-pop">
            <div class="pop_inner">
                <div class="pop-head">
                    <h2>L.POINT 로그인</h2>
                    <button class="ir btn-close" onclick="ui.modalPopClose(alertPop01);">팝업닫기</button>
                </div>
                <div class="pop-contents">
                    <div class="login-wrap">
                        <section class="login-type">
                            <div class="btn-member">
                                <h3>개인회원 로그인</h3>
                                <a href="#">개인사업자 로그인</a>
                            </div>
                            <!-- 사업자로그인시 노출 -->
                            <!-- <div class="btn-member">
                                <h3>개인사업자 로그인</h3>
                                <button type="button" class="btn-more">
                                    <p class="ir">툴팁열기</p>
                                    <article class="tip-box arrow-up">
                                        <p>L.Point 통합회원 로그인 시 개인사업자는 <br/>
                                            마이페이지에서 사업자 등록 후 가능합니다.</p>
                                        <button type="button" class="ir bt-layer-close">닫기</button>
                                    </article> 
                                </button>
                                <a href="#">개인회원 로그인</a>
                            </div> -->
                            <div class="login-form">
                                <ul class="form-insert">
                                    <li><input type="text" placeholder="아이디를 입력해 주세요" title="아이디를 입력해 주세요" /></li>
                                    <li><input type="password" placeholder="비밀번호를 입력해 주세요" title="비밀번호를 입력해 주세요" /></li>
                                    <!-- 사업자로그인시 노출 -->
                                    <!-- <li><input type="text" placeholder="사업자번호를 입력해 주세요" title="사업자번호를 입력해 주세요" /></li> -->
                                </ul>
                                <div class="check-wrap round-normal">
                                    <input type="checkbox" class="checkAll" id="chkSaveLogin" name="chkSaveLogin" />
                                    <label for="chkSaveLogin">아이디 저장</label>
                                </div>
                                <div class="login-btn">
                                    <button type="submit" class="bt-common-type2 bt-full rnd bt-login">로그인</button>
                                </div>
                                <ul class="join-link">
                                    <li><a href="#">회원가입</a></li>
                                    <li><a href="#">아이디찾기</a></li>
                                    <li><a href="#">비밀번호 찾기</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- front UI js// -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/ui.js"></script>
    <!-- //front UI js -->
</body>
</html>