<!DOCTYPE html>
<html lang="ko">
<head>
<title>롯데오토마켓</title>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta property="og:title" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<!-- front UI css -->
<link rel="stylesheet" href="css/default.css" type="text/css" />
</head>
<body class="rent-renewal">

    <!-- layout--header -->
    <div class="layout--header-new">
        <header>
            <h1 class="logo-wrap"><a href="#" class="ir">롯데렌터카 마이카 세이브</a></h1>
            <nav>
                <ul>
                    <li><a href='/'><b>중고차렌트</b></a></li>
                    <li><a href="/rental/new">신차렌트</a></li>
                    <li><a href="" >오토리스</a></li>
                    <li><a href="/finance/rent" >차량승계</a></li>
                    <li class="depth1"><a href="/sell/sise" >내차팔기</a></li>
                    <li th:if="${loginYn == 'N'}" class="btn-login"><a href="#">로그인</a></li>
                    <!-- <li th:if="${loginYn == 'Y'}" class="btn-login"><a href="/auth/logout">로그아웃</a></li> -->
                </ul>
            </nav>
        </header>
    </div>
    

    <!-- 컨텐츠 시작 -->
    <main class="layout--containter">
    </main>


    <!--  팝업   -->
    <div class="layer_popup_wrappper rent-pop" id="alertPop01" style="display: block;">
        <div class="layer_popup detail-pop">
            <div class="pop_inner">
                <div class="pop-head">
                    <h2>전자서명</h2>
                    <button class="ir btn-close" onclick="ui.modalPopClose(alertPop01);">팝업닫기</button>
                </div>
                <div class="pop-contents">
                    <p class="txt-grey">
                        전자서명을 완료하기 위해서는 계약자 본인 명의로 <br/>
                        휴대폰 인증을 완료하여야 합니다.
                    </p>
                    <div class="pass-img"></div>
                    <div class="input-item check-all">
                        <div class="check-wrap round-big-grey">
                            <input type="checkbox" id="checkAll02" class="checkAll"/>
                            <label for="checkAll02">약관 전체동의</label>
                        </div>
                        <div class="accordion-list-small">
                            <div class="agree-accordion-wrap">
                                <div class="check-wrap round-big-grey">
                                    <input type="checkbox" id="check03" class="checkAll"/>
                                    <label for="check03"><span>[필수]</span> 자동차(장기) 임대차 약관</label>
                                    <button type="button" class="btn-show"></button>
                                </div>
                                <div class="agree-content">
                                    <div class="grey-box">
                                        <p>
                                            귀중 본인은 "개인정보 보호법" 제15조, 제22조, 제24조 및 "신용정보의 이용 및 보호에 관한 법률" 제32조, 제33조, 제24조 등 법령에 의하여 귀사가 아래와 같은 내용으로 본인의 개인(신용)정보를 수집,이용,제공하고 한국신용정보원, 여신금융협회 등 신용정보집중기관 또는 나이스평가정보 주식회사 및 코리아크레딧뷰로 주식회사 등 신용조회회사로 부터 본인의 개인신용정보를 조회하는 것에 대하여 동의합니다. 이 동의서는 계약의 갱신 등으로 변경되는 경우에도 유효합니다.
                                            1. 개인(신용)정보 필수 수집,이용에 관한 동의
                                            필요한 최소한의 정보(필수사항) 외의 개인(신용)정보 수집,이용에는 동의하지 아니할 수 있습니다.
                                            가. 수집·이용 목적
                                            자동차 임대차계약 등 거래관계의 설정, 계약의 체결·유지·이행·관리(통계, 모형개발 등 포함)·개선,서비스제공,법령상 의무이행, 신용질서 문란행위 조사, 분쟁처리, 전화상담업무, 본인여부확인, 채권추심 및 신용정보집중기관 또는 신용조회회사에 본인의 개인(신용)정보 조회
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="agree-accordion-wrap">
                                <div class="check-wrap round-big-grey">
                                    <input type="checkbox" id="check04" class="checkAll"/>
                                    <label for="check04"><span>[필수]</span> 정비 패키지 이용약관</label>
                                    <button type="button" class="btn-show"></button>
                                </div>
                                <div class="agree-content">
                                    <div class="grey-box">
                                        <p>
                                            1. 개인(신용)정보 필수 수집,이용에 관한 동의
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <button type="button" class="bt-common-type3">상담 신청하기</button>
                        <button type="button" class="bt-common-type2">다이렉트 계약하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- front UI js// -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/ui.js"></script>
    <!-- //front UI js -->
</body>
</html>