<!DOCTYPE html>
<html lang="ko">
<head>
<title>롯데오토마켓</title>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta property="og:title" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<!-- front UI css -->
<link rel="stylesheet" href="css/default.css" type="text/css" />
</head>
<body>

    <!-- layout--header -->
    <div class="layout--header-new">
        <header>
            <h1 class="logo-wrap"><a href="#" class="ir">롯데렌터카 마이카 세이브</a></h1>
            <nav>
                <ul>
                    <li><a href='/'><b>중고차렌트</b></a></li>
                    <li><a href="/rental/new">신차렌트</a></li>
                    <li><a href="" >오토리스</a></li>
                    <li><a href="/finance/rent" >차량승계</a></li>
                    <li class="depth1"><a href="/sell/sise" >내차팔기</a></li>
                    <li th:if="${loginYn == 'N'}" class="btn-login"><a href="#">로그인</a></li>
                    <!-- <li th:if="${loginYn == 'Y'}" class="btn-login"><a href="/auth/logout">로그아웃</a></li> -->
                </ul>
            </nav>
        </header>
    </div>
    

    <!-- 컨텐츠 시작 -->
    <main class="layout--containter">
    </main>


    <!--  팝업   -->
    <div class="layer_popup_wrappper rent-pop" id="alertPop01" style="display: block;">
        <div class="layer_popup detail-pop">
            <div class="pop_inner">
                <div class="pop-head">
                    <h2>출금 자동이체 동의</h2>
                    <button class="ir btn-close" onclick="ui.modalPopClose(alertPop01);">팝업닫기</button>
                </div>
                <div class="pop-contents">
                    <ul class="caption-list">
                        <li>상기 신청인이 납부하여야 할 대여료, 연체이자 및 기타 계약상의 납부금액에 대하여 귀행 앞으로 청구가 있는 경우에는 별도의 통지 없이 예금주의 지정 출금계좌에서 수납기관이 정한 지정출금일 (휴일인 경우 익 영업일)에 출금대체 납부하여 주십시오.</li>
                        <li>출금이체를 위하여 지정 출금계좌의 예금을 출금하는 경우에는 예금약관이나 약정서의 규정에도 불구하고 예금 청구나 수표 없이 출금이체 처리절차에 의하여 출금하여도 이의가 없습니다.</li>
                        <li>출금이체 지정계좌의 예금잔액(자동대출약정이 있는 경우 대출한도 포함)이 지정출금일 현재 수납기관의 청구금액보다 부족하거나, 예금의 자금제한 또는 약정 대출의 연체 등으로 대체납부가 불가능한 경우의 손해는 본인의 책임으로 하겠습니다.</li>
                        <li>지정출금일에 동일한 수종의 출금이체 청구가 있는 경우의 출금우선순위는 거래은행이 정하는 바에 따르도록 하겠습니다.</li>
                        <li>출금이체 신규신청에 의한 이체개시일은 수납기관의 사정에 의하여 결정되며, 수납기관으로부터 사전 통지받은 출금일을 최초 개시일로 하겠습니다.</li>
                        <li>출금이체 신청(신규,해지)은 해당 납기일 30일전까지 신청서를 제출하여야 합니다.</li>
                        <li>출금이체 신청에 의한 지정계좌에서의 출금은 수납기관의 청구대로 출금키로 하며, 청구요금에 이의가 있는 경우에는 본인과 수납기관이 협의하여 조정키로 합니다.</li>
                        <li>출금이체금액은 해당 지정출금일 은행영업시간 내에 입금된 예금(지정출금에 입금된 타점권은 제외)에 한하여 출금처리 됩니다.</li>
                        <li>이 약관은 수납기관에 직접 제출하여 출금이체를 신청한 경우에도 적용됩니다.</li>
                        <li>출금이체일자에 지정출금계좌 잔액(자동대출 약정이 있는 경우는 대출한도 포함)이 출금이체금액보다 부족한 경우에도 지정출금계좌에서 인출 가능한 금액만큼 우선 인출하기로 하며, 연체 시에도 별도 통지없이 지연손해금 등을 합산한 금액을 지정출금계좌에서 인출하기로 합니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- front UI js// -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/ui.js"></script>
    <!-- //front UI js -->
</body>
</html>